@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive; 
    --fonte3: 'Sriracha', cursive;
}
/* conteners */

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: black;
    color: white;
    padding: 40px 0px;
    text-align: center;
}

section {
    padding: 10vh 20px;
    line-height: 2em;
    font-size: 3vw;
    font-family: var(--fonte3);
}

section.normal {
    background-color: white;
}

footer {
    background-color: black;
    padding: 10px;
    text-align: center;
    color: white;
}

/* Conteúdos */

header h1 {
    font-family: var(--fonte2);
    font-size: 7.5vw;
    font-variant: small-caps;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section p {
    font-size: 1.6em;
    padding-bottom: 2em;
}

section.esp p {
    background-color: rgba(0, 0, 0, .5);
    text-shadow: 1px 1px 0px black;
    display: inline-block;
    padding: 5px;
}

.esp {
    background-size: cover;
    color: white;
    box-shadow: inset rgba(0, 0, 0, 0.447) 1px 14px 13px 0px;
}

#flor {
    background: yellow url('../imagens/background001.jpg') right center no-repeat fixed;
    background-size: cover;
}

#carta {
    background: #ddd url('../imagens/background002.jpg') right bottom no-repeat fixed;
}

.box-trans {
    background-color: black;
    display: inline-block;
    opacity: .7;
    fill-opacity: 1;
}