@charset "UTF-8";

:root {
    --cor0: #420224;
    --cor1: #dd7310;
    --cor2: yellow;
    --cor3: #f5ca81;
}

body {
    /*background-image: linear-gradient(-90deg, #200111, var(--cor0));*/
    background-image: radial-gradient(circle, var(--cor0), #200111);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--cor1);
    line-height: 2em;
}
h1 {
    color: var(--cor2);
}
a {
    text-decoration: none;
    color: var(--cor3);
}
a:hover {
    text-decoration: underline;
}

